<style>
  #localization a:first-of-type {
    position: relative;
    margin-right: 15px;
  }
  
  #localization a:first-of-type::after {
    content: '/';
    position: absolute;
    display: inline-block;
    padding-left: 6px;
  }
</style>

{% form 'localization', id: 'localization' %}
  {% for language in localization.available_languages %}
    <a
      href="#"
      hreflang="{{ language.iso_code }}"
      lang="{{ language.iso_code }}"
      aria-label="{{ language.endonym_name }}"
      {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %}
      class="link uppercase {% if language.iso_code == localization.language.iso_code %}border-b-2 border-gold{% endif %}"
    >{{ language.iso_code }}</a>
  {% endfor %}
  <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
{% endform %}

<script>
  document.querySelectorAll('#localization a').forEach(item => {
    item.addEventListener('click', event => {
      event.preventDefault();
      document.querySelector('input[name="locale_code"]').value = item.getAttribute('lang');
      document.getElementById('localization').submit();
    });
  });
</script>