<div class="customer reset-password max-w-[350px] mx-auto">
  <h1 class="d2 mt-6 text-center">{{ 'customer.reset_password.title' | t }}</h1>
  {% form 'reset_customer_password' %}
    {% if form.errors %}
      <div class="mt-10 text-cognac">
        {{ form.errors | default_errors }}
      </div>
    {% endif %}
    <div class="mt-12 space-y-3.5">
      <div>
        <label for="Password" class="sr-only">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="Password"
          autocomplete="new-password"
          placeholder="{{ 'customer.reset_password.password' | t }}"
          class="form-input"
        >  
      </div>
      <div>
        <label for="PasswordConfirmation" class="sr-only">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          autocomplete="new-password"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          class="form-input"
        >
      </div>
    </div>
    <button class="btn btn--primary block mx-auto mt-10">
      {{ 'customer.reset_password.submit' | t }}
    </button>
  {% endform %}
</div>

{% schema %}
  {
    "name": "Reset password",
    "tag": "section",
    "class": "container"
  }
{% endschema %}